.button{
	height: 50px;
	width: 50px;
	margin: 10px 0 0 15px;
	float: left;
}

#calculator{
	color: rgb(255, 255, 255);
	height: 400px;
	width: 320px;
	background-color: rgb(77, 192, 175);
}

#screen{
	height: 40px;
	text-align: right;
	background-color: #333;
	color: #fff;
	line-height: 45px;
	font-size: 30px;
}

.num_unit{
	height: inherit;
	width: 200px;
	float: left;
}
.operator_unit{
	height: inherit;
	width: 80px;
	float: right;
	margin: auto;
}